.headerContainerLight {
    background: var(--white);
    border-bottom: 1px solid var(--gray-100);
    p{
        border-left: 1px solid var(--gray-100);
    }
}

.headerContainerDark {
    background: var(--black);
    border-bottom: 1px solid var(--gray-800);
    p{
        border-left: 1px solid var(--gray-800);
    }
}

.headerContainerLight, .headerContainerDark {
    height: 6.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 4rem;

    p{
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
    }

    span{
        margin-left: auto;
        text-transform: capitalize;
    }
    button{
        border:none;
        background-color: transparent;
        margin-left: auto;
        
        .theme {
            align-items: center;
            padding: 2px;
            border-radius: 20px;
            box-shadow: 1px 1px 6px 0 rgba($color: #000000, $alpha: 0.3);
        }
    }
}


